<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{_displayname}}</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
        integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
        integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
        integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
        crossorigin="anonymous"></script>
    {{#if _darkflag }}<link rel="stylesheet" href="https://bootswatch.com/4/darkly/bootstrap.min.css">{{/if}}
    <style>
        .profile-pic {
            width: calc(18rem/2);
            margin: -32px auto auto auto;
            height: calc(18rem/2);
            border-radius: 50%;
        }
    </style>
</head>

<body>
    <main class="container">
        <div class="row">
            {{#unless cards}}<div class="col-4"></div>{{/unless}}
            <div class="col-4">
                <div class="card" style="/*width: 18rem;*/ margin: auto; margin-top: 4rem">
                    {{#if picture}}<img src="{{picture}}" class="profile-pic" alt="Profile picture">{{/if}}
                    <div class="card-body">
                        <h5 class="card-title">{{_displayname}}</h5>
                        <p class="card-text">{{{md description}}}</p>
                        {{#if links}}<ul>{{#each links}}
                            <li>{{{md this}}}</li>
                            {{/each}}</ul>{{/if}}
                    </div>
                </div>
                {{!Previous location of cards. Will probably move back}}
            </div>
            {{#if cards}}<div class="col-8">
                {{#each cards}}{{#unless this.type}}{{#if this.title}}{{#if this.text}}
                <div class="card" style="/*width: 18rem;*/ margin: auto; margin-top: 2em">
                    {{#if this.picture}}<img src="{{picture}}" class="card-img-top">{{/if}}
                    <div class="card-body">
                        <h5 class="card-title">{{title}}</h5>
                        <p class="card-text">{{text}}</p>
                    </div>
                </div>{{else if this.picture}}
                <div class="card" style="/*width: 18rem;*/ margin: auto; margin-top: 2em">
                    <img src="{{picture}}" class="card-img-top">
                    <div class="card-body">
                        <h5 class="card-title">{{title}}</h5>
                        {{! already checked for the text. it doesn't exist. don't show it. }}
                    </div>
                </div>
                {{/if}}{{/if}}{{/unless}}{{/each}}
            </div>{{else}}<div class="col-4"></div>{{/if}}
        </div>
    </main>
</body>

</html>